{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApTimer</title>

    <!-- Jquery -->
    <script src="{% static 'js/utils/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/utils/bootstrap.min.js' %}"></script>

    <!-- Plotly -->
    <script src="{% static 'js/utils/plotly-latest.min.js' %}"></script>

    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <header class="container-fluid row justify-content-center mb-3">
        <h2>APTIMER: timescales of magnetic processes modelled from volatile diffusion in apatite</h2>
    </header>

    <div class="container cal-wrapper">

        <div class="instruction my-3 p-3">
            <h3>Instruction:</h3>
            <p>This model aims to constrain the diffusion timescale related to magma accent...</p>
            <p><i>Li W., Costa F...</i></p>
        </div>

        <div class="input my-3 p-3">
            <h3>Input:</h3>

            <p>
                <b>Diffusion profiles: </b>
                <span>Please use the provided <a href="">data template</a> (.csv) to organise your data, and upload them
                    using the blue button below.</span>
            </p>
            <form class="upload">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="upload-file">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <button class="btn button-upload" type="button">Upload & Plot</button>
            </form>

            <div id="plot"></div>

            <div class="row">
                <div class="col position-relative">
                    <form class="diffusivity-cal" method="GET">
                        <p><b>Parameter use for diffusion modelling:</b></p>
                        temp:
                        <input type="text" placeholder="900" id="temp">
                        tilt:
                        <input type="text" placeholder="17" id="tilt">
                    </form>
                    <div class="calculation-result"></div>
                    <button class="btn button-cal" type="button">Calculate</button>
                </div>

                <div class="col position-relative">
                    <form action="" class="inibound">
                        <p><b>Initial & boundary conditions:</b></p>
                        <div class="row pr-5 mb-3">
                            <div class="col-2 pl-3">
                                <br>
                                <span>XCL</span><br>
                                <span>XF</span><br>
                                <span>XOH</span>
                            </div>
                            <div class="col">
                                <small>Initial conditions</small>
                                <input type="text" id="xcl_ini" placeholder="0.14"><br>
                                <input type="text" id="xf_ini" placeholder="0.69"><br>
                                <input type="text" id="xoh_ini" placeholder="0.17">
                            </div>
                            <div class="col">
                                <small>Left boundary</small>
                                <input type="text" id="xcl_left" placeholder="0.22"><br>
                                <input type="text" id="xf_left" placeholder="0.78"><br>
                                <input type="text" id="xoh_left" placeholder="0.0">
                            </div>
                            <div class="col">
                                <small>Right boundary</small>
                                <input type="text" id="xcl_right" placeholder="0.14"><br>
                                <input type="text" id="xf_right" placeholder="0.69"><br>
                                <input type="text" id="xoh_right" placeholder="0.17">
                            </div>
                        </div>
                    </form>
                    <div id="spacer" style="width: 200px; height: 50px; float:left; display:inline-block"></div>
                    <button class="btn button-inibound" type="button">Plot</button>
                </div>
            </div>

            <hr style="border-top: 1px dashed">
            <p><b>Distance & time steps:</b></p>
            <form action="" class="distime">
                Distance step, dx: <input type="text" placeholder="1" id="dx"> µm <br>
                Time step, dt: <input type="text" placeholder="1" id="dt"> hours <br>
                Iteration: <input type="text" placeholder="230" id="iteration"><br>
                <button class="button-distime" type="button">Run</button>
            </form>
        </div>

        <div class="model-result my-3 p-3">
            <h3>Model fits:</h3>
        </div>

    </div>
</body>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

</html>