{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApTimer</title>

    <!-- Jquery -->
    <script src="{% static 'js/utils/jquery-3.5.1.min.js' %}"></script>

    <!-- Plotly -->
    <script src="{% static 'js/utils/plotly-latest.min.js' %}"></script>

    <script src="{% static 'js/index.js' %}"></script>
</head>

<body>
    <form class="upload">
        <input type="file" id="upload-file">
        <button class="button-upload" type="button">Upload</button>
    </form>
    <div id="plot"></div>

    <form class="diffusivity-cal" method="GET">
        temp:
        <input type="text" placeholder="900" id="temp">
        tilt:
        <input type="text" placeholder="17" id="tilt">
        <button class="button-cal" type="button">Calculate</button>
    </form>

    <div class="calculation-result"></div>

</body>

</html>